
@import "template/abstracts/variables";
@import 'template/abstracts/functions';
@import "template/abstracts/mixins";

@import 'template/core-bootstrap';
@import 'template/libs/vendor';
@import 'template/libs/breakpoints-pha';
@import 'template/libs/html-grid';

@import 'font-awesome.min.css';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');

@include breakpoints((
  xlarge:   ( 1281px,  1680px ),
  large:    ( 981px,   1280px ),
  medium:   ( 737px,   980px  ),
  small:    ( 481px,   736px  ),
  xsmall:   ( 361px,   480px  ),
  xxsmall:  ( null,    360px  )
));

@import 'template/base/reset';
@import 'template/base/reboot';
@import 'template/base/page';
@import 'template/base/typography';


@import 'template/components/row-pha';
@import 'template/components/section-pha';
@import 'template/components/icon-pha';
@import 'template/components/list-pha';
@import 'template/components/actions-pha';
@import 'template/components/icons-pha';
@import 'template/components/form-pha';
@import 'template/components/box-pha';
@import 'template/components/image-pha';
@import 'template/components/table-pha';
@import 'template/components/button-pha';
@import 'template/components/tiles-pha';

@import 'template/components/header-pha';
@import 'template/components/menu-pha';
@import 'template/components/main-pha';
@import 'template/components/footer-pha';
@import 'template/components/wrapper-pha';


@import 'template/components/layout';
@import 'template/components/buttons';
@import 'template/components/misc';
@import 'template/components/misc-extend';
@import 'template/components/checkboxes';
@import 'template/components/custom-forms';
@import 'template/components/switches';
@import 'template/components/radios';
@import 'template/components/carousel';
@import 'template/components/forms';
@import 'template/components/input-group';
@import 'template/components/list-group';
@import 'template/components/nav';
@import 'template/components/headers';
@import 'template/components/footers';
@import 'template/components/images';
@import 'template/components/navbar';
@import 'template/components/badges';
@import 'template/components/alerts';
@import 'template/components/pagination';
@import 'template/components/pills';
@import 'template/components/info-areas';
@import 'template/components/type';
@import 'template/components/tabs';
@import 'template/components/tooltip';
@import 'template/components/popover';
@import 'template/components/modal';
@import 'template/components/modal-extend';
@import 'template/components/dropdown';
@import 'template/components/drawer';
@import 'template/components/progress';
@import 'template/components/togglebutton';
@import 'template/components/ripples';
@import 'template/components/social-buttons';
@import 'template/components/fileupload';
@import 'template/components/tables';
@import 'template/components/sections';
@import 'template/components/media';
@import 'template/components/login';


@import 'template/components/cards';
@import 'template/cards/card-carousel';
@import 'template/cards/card-login';
@import 'template/cards/card-plain';
@import 'template/cards/card-background';
@import 'template/cards/card-blog';
@import 'template/cards/card-collapse';
@import 'template/cards/card-contact';
@import 'template/cards/card-form-horizontal';
@import 'template/cards/card-pricing';
@import 'template/cards/card-product';
@import 'template/cards/card-profile';
@import 'template/cards/card-rotate';
@import 'template/cards/card-testimonials';

@import 'template/plugins/plugin-datetime-picker';
@import 'template/plugins/plugin-nouislider';
@import 'template/plugins/plugin-bootstrap-select';
@import 'template/plugins/plugin-flexisel';
@import 'template/plugins/plugin-tagsinput';

@import 'template/components/responsive';
