// MSIE: Required for IEMobile.
@-ms-viewport {
	width: device-width;
}

	// MSIE: Prevents scrollbar from overlapping content.
body {
	-ms-overflow-style: scrollbar;
}

@include breakpoint('<=xsmall') {
	html, body {
		min-width: 320px;
	}
}

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // Stops initial animations until page loads.
  &.is-preload {
    *, *:before, *:after {
      @include vendor('animation', 'none !important');
      @include vendor('transition', 'none !important');
    }
	}
}

a {
  &:focus {
    outline: none; // remove the terrible @include tab-focus();
  }
}

button:focus {
  outline: none;
  //outline: 1px dotted;
  //outline: 5px auto -webkit-focus-ring-color;
}

//// Prevent highlight on mobile
//* {
//  -webkit-tap-highlight-color: rgba($white, 0);
//  -webkit-tap-highlight-color: transparent;
//  &:focus {
//    outline: 0;
//  }
//}
